<section>
    <nav class="navbar navbar-expand-lg p-0" style="background-color: #2a2a2a;">
        <div class="container-fluid">
            <div class=" col-md-9 collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#"><i
                                class="bi bi-telephone-fill text-danger"></i> +021-95-51-84</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="bi bi-envelope text-danger"></i>
                            email&#64;email.com</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="bi bi-geo-alt-fill text-danger"></i> 1734
                            Stonecoal Road</a>
                    </li>
                </ul>
            </div>
            <div class=" col-md-3 collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#"><i
                                class="bi bi-currency-dollar text-danger"></i> USD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="bi bi-person text-danger"></i> My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg border-bottom border-4 border-danger" style="background-color: #0d0d0d;">
        <div class="container-fluid">
            <div class=" col-md-4 collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <a class="navbar-brand brand-style" href="#">Electro<span class="text-danger">.</span></a>
            </div>
            <div class=" col-md-4 d-flex justify-content-end brand-header-search-section" id="navbarNav">
                <select id="inputState" class="category-picker">
                    <option selected>All Categories</option>
                    <option>Laptop</option>
                    <option>Camera</option>
                </select>
                <input type="text" class="col-md-5 search-field" placeholder="Search here">
                <button class="search-btn">Search</button>
            </div>
            <div class=" col-md-4 collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#"><i class="bi bi-heart"></i><br>Your Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#"><i class="bi bi-cart-fill"></i><br>Your Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg border-bottom border-2 border-secondary" style="background-color: #d8d8d8;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav navigation-position">
                    <li class="nav-item">
                        <a class="nav-link target" href="#home" id="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#hotdeal" id="hotdeal">Hot Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#category" id="category">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#laptop" id="laptop">Laptop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#smartphone" id="smartphone">Smartphones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#camera" id="camera">Cameras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link target" href="#accessories" id="accessories">Accessories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>