.card {
  border-radius: 0px !important;

  &.selected {
    border: 2px solid #dc3545;
  }
}

.red-border-label {
  border: 3px solid #dc3545;
  color: #dc3545;
  padding: 2px 15px;
  font-size: smaller;
}

.red-label {
  background-color: #dc3545;
  color: #ffffff;
  padding: 3px 15px;
  font-size: smaller;
}