<div class="card" [class.selected]="isSelected" (click)="showBorder()" style="width: 15rem;">
    <div class="col-12 d-flex justify-content-end">
        <span class="red-border-label mt-3 me-2">-30%</span>
        <span class="red-label mt-3 me-2">NEW</span>
    </div>
    <img [src]="item.image" class="card-img-top p-4" [alt]="item.title" style="height: 16rem;">
    <div class="card-body">
        <p class="card-text text-center text-secondary text-uppercase" style="font-size: small;">
            {{item.category}}
        </p>
        <p class="card-title text-center text-uppercase text-truncate" style="font-size: small; font-weight: 700;">
            {{item.title}}
        </p>
        <div class="col">
            <p class="card-text text-center text-danger text-uppercase" style="font-size: small; font-weight: 700;">
                $ {{item.price}}
                <span class="text-decoration-line-through"
                    style="font-size: smaller; font-weight: 500; color: #929292;">
                    $999.999
                </span>
            </p>
        </div>
        <p class="card-text text-center text-danger text-uppercase" style="font-size: small;">
            @for (rating of ratings; track $index) {
            <i class="bi bi-star-fill"></i>
            }
        </p>
        <div class="col d-flex justify-content-center">
            <a href="#" class="card-link text-dark text-decoration-none"><i class="bi bi-heart"></i></a>
            <a href="#" class="card-link text-dark text-decoration-none"><i class="bi bi-arrow-left-right"></i></a>
            <a href="#" class="card-link text-dark text-decoration-none"><i class="bi bi-eye"></i></a>
        </div>
    </div>
</div>
<div class="mx-1 py-2 px-3 text-center" *ngIf="isSelected" style="background-color: #0d0d0d;">
    <button class="btn btn-danger rounded-pill">ADD TO CART</button>
</div>